<h1>Welcome {{ value }}!</h1>
<h1>Scan this QR Code with Google Authenticator</h1>
<img src="data:image/png;base64,{{ qr_code_data }}">
<form action="/verify_otp" method="post">
    <label for="otp">Enter the OTP from your app:</label><br>
    <input type="text" id="otp" name="otp" required><br>
    <input type="hidden" name="username" value="{{ value }}">   <!-- Username input -->
    <input type="hidden" name="user_secret" value="{{ user_secret }}">  <!-- Hidden user_secret input -->
    <input type="submit" value="GO!">
</form>